<div class="login-area login-s2">
  <div class="container">
    <div class="login-box ptb--100">
      <form (ngSubmit)="signUp(fullName.value, email.value, password.value, confirmPassword.value)">
        <div class="login-form-head">
          <h4>Sign up</h4>
          <p>Hello there, Sign up and Join with Us</p>
        </div>
        <div class="login-form-body">
          <div class="form-gp">
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" class="form-control" #fullName required>
          </div>
          <div class="form-gp">
            <label for="email">Email address</label>
            <input type="email" id="email" class="form-control" #email required>
          </div>
          <div class="form-gp">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" #password required>
          </div>
          <div class="form-gp">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control" #confirmPassword required>
          </div>
          <div class="submit-btn-area">
            <button type="submit" class="btn btn-primary">Sign Up <i class="ti-arrow-right"></i></button>
          </div>
          <div class="form-footer text-center mt-5">
            <p class="text-muted">Already have an account? <a routerLink="/login">Login</a></p>
          </div>
          <div class="form-footer text-center mt-5">
            <p class="text-muted"><a routerLink="">Go back </a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
