

<!-- page container area start -->
<div class="page-container">

  <!-- sidebar menu area start -->
  <app-sidebar></app-sidebar>
  <!-- sidebar menu area end -->

  <!-- main content area start -->
  <div class="main-content">
    <!-- header area start -->
    <app-navbar></app-navbar>
    <!-- header area end -->

    <!-- main area start-->
    <router-outlet></router-outlet>
    <!-- main area end-->


  </div>
  <!-- main content area end-->
  <!-- footer area start-->
  <app-footer></app-footer>
  <!-- footer area end-->
</div>
<!-- page container area end -->

