<!-- page container area start -->
<div class="page-container">

  <!-- sidebar menu area start -->
  <app-sidebar></app-sidebar>
  <!-- sidebar menu area end -->

  <!-- main content area start -->
  <div class="main-content">
    <!-- header area start -->
    <app-navbar></app-navbar>
    <!-- header area end -->

    <!-- main area start-->
    <router-outlet></router-outlet>
    <!-- main area end-->

    <!-- Sidebar based on user role -->
    <div *ngIf="currentUserRole === 'admin'">
      <app-sidebar-admin></app-sidebar-admin>
    </div>
    <div *ngIf="currentUserRole === 'salesManager'">
      <app-sidebar-sales></app-sidebar-sales>
    </div>
    <div *ngIf="currentUserRole === 'stockManager'">
      <app-sidebar-stock></app-sidebar-stock>
    </div>
    <div *ngIf="currentUserRole === 'auditor'">
      <app-sidebar-audit></app-sidebar-audit>
    </div>
  </div>
  <!-- main content area end-->
  <!-- footer area start-->
  <app-footer></app-footer>
  <!-- footer area end-->
</div>
<!-- page container area end -->
