<div class="login-area login-s2">
    <div class="container">
      <div class="login-box ptb--100">
        <form (ngSubmit)="resetPassword()">
          <div class="login-form-head">
            <h4>Reset Password</h4>
            <p>Enter your new password below.</p>
          </div>
          <div class="login-form-body">
            <div class="form-gp">
              <label for="newPassword">New Password</label>
              <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
              <i class="ti-lock"></i>
              <div class="text-danger"></div>
            </div>
            <div class="form-gp">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
              <i class="ti-lock"></i>
              <div class="text-danger"></div>
            </div>
            <div *ngIf="resetError" class="error-message">{{ resetError }}</div>
            <div class="submit-btn-area">
              <button type="submit">Reset Password <i class="ti-arrow-right"></i></button>
            </div>
            <div class="form-footer text-center mt-5">
              <p class="text-muted"><a routerLink="">Go back</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  