<div class="sidebar-menu">
  <div class="sidebar-header">
    <div class="logo">
      <a href="index.html"><img src="assets/images/icon/logoTNF.png" alt="logo"></a>
    </div>
  </div>
  <div class="main-menu">
    <div class="menu-inner">
      <nav>
        <ul class="metismenu" id="menu">
          <li class="">
            <a routerLink="/Admin/Users" aria-expanded="true"><i class="ti-user
"></i><span>Users</span></a>
          </li>
          <li>
            <a href="#" aria-expanded="true"><i class="ti-harddrives"></i><span>Companies
                                    </span></a>
          </li>
          <li>
            <a href="#" aria-expanded="true"><i class="ti-archive"></i><span>Products
                                    </span></a>
          </li>
          <li>
            <a href="#" aria-expanded="true"><i class="ti-truck"></i><span>Suppliers</span></a>
          </li>
          <li class="#">
            <a href="#" aria-expanded="true"><i class="ti-bag"></i><span>Clients</span></a>
          </li>
          <li>
            <a href="#" aria-expanded="true"><i class="ti-credit-card"></i><span>Orders
                                    </span></a>
          </li>
          <li>
            <a href="#" aria-expanded="true"><i class="ti-receipt"></i><span>Invoices</span></a>
          </li>
          <li>
            <a href="#" aria-expanded="true"><i class="ti-file"></i><span>Inventory</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
