<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Deactivation Account For User</h5>
          <button type="button" class="close" (click)="cancelAction()" aria-label="Close">              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to deactivate this user?.</p>
        </div>
        <div class="modal-footer">
        <button class="confirm-button" (click)="confirmAction()">Yes</button>
        <button class="cancel-button" (click)="cancelAction()">Cancel</button>
      </div>
    </div>
  </div>
