<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ">
        <div class="bg-white">
          <div class="header">
            <h3 class=" text-primary">Add new user</h3>
          </div>
          <div class="content">
            <form >
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" >
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name" [formControlName]="''">
                   </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-fill pull-right text-white">Add user</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
