<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header" routerLinkActive="active">
          <a routerLink="/Admin/AddUser">
            <h4>
              <i class="ti-user"></i>
              Add a new user
            </h4>
          </a>
        </div>
        <div>
          <table class="dbkit-table" matSort>
            <tr class="heading-td">
              <th class="coin-name" mat-sort-header="fullName">Full Name</th>
              <th class="buy" mat-sort-header="login">Email</th>
              <th class="sell" mat-sort-header="role">Role</th>
              <th class="attachments" mat-sort-header="companyName">Company</th>
              <th>Actions</th>
            </tr>
            <tr *ngFor="let user of pagedUsers">
              <td class="coin-name">{{ user.fullName }}</td>
              <td class="buy">{{ user.login }}</td>
              <td class="sell">{{ user.role }}</td>
              <td class="attachments">{{ user.companyName }}</td> 
              <td>
                <button class="activate-button"  
                        [ngClass]="{'inactive': user.isActive, 'activated': !user.isActive}" 
                        *ngIf="!user.isActive"
                        (click)="activateUser(user._id)">Activate</button>
                <button class="deactivate-button" [disabled]="!user.isActive" [ngClass]="{'inactive': !user.isActive}" (click)="confirmDeactivate(user._id)">Deactivate</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="pagination justify-content-center">
          <button class="btn btn-primary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
          <span class="mx-2">Page {{ currentPage }} of {{ totalPages }}</span>
          <button class="btn btn-primary" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Include the confirmation modal component -->
<app-confirmation-modal 
  *ngIf="showConfirmationModal" 
  (confirm)="confirmDeactivation()" 
  (cancel)="cancelDeactivation()">
</app-confirmation-modal>
