
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header" routerLinkActive="active">

            <a routerLink="/Admin/AddUser">
              <h4>
                <i class="ti-user"></i>
                Add a new user
              </h4>
            </a>
          </div>
          <div>
            <table class="dbkit-table">
              <tr class="heading-td">
                <td class="mv-icon">Logo</td>
                <td class="coin-name">Coin Name</td>
                <td class="buy">Buy</td>
                <td class="sell">Sells</td>
                <td class="trends">Trends</td>
                <td class="attachments">Attachments</td>
                <td class="stats-chart">Stats</td>
              </tr>
              <tr>
                <td class="mv-icon"><img src="assets/images/icon/market-value/icon1.png" alt="icon">
                </td>
                <td class="coin-name">Dashcoin</td>
                <td class="buy">30% <img src="assets/images/icon/market-value/triangle-down.png" alt="icon"></td>
                <td class="sell">20% <img src="assets/images/icon/market-value/triangle-up.png" alt="icon"></td>
                <td class="trends"><img src="assets/images/icon/market-value/trends-up-icon.png" alt="icon"></td>
                <td class="attachments">$ 56746,857</td>
                <td class="stats-chart">
                  <canvas id="mvaluechart"></canvas>
                </td>
              </tr>
              <tr>
                <td class="mv-icon">
                  <div class="mv-icon"><img src="assets/images/icon/market-value/icon2.png" alt="icon"></div>
                </td>
                <td class="coin-name">LiteCoin</td>
                <td class="buy">30% <img src="assets/images/icon/market-value/triangle-down.png" alt="icon"></td>
                <td class="sell">20% <img src="assets/images/icon/market-value/triangle-up.png" alt="icon"></td>
                <td class="trends"><img src="assets/images/icon/market-value/trends-down-icon.png" alt="icon"></td>
                <td class="attachments">$ 56746,857</td>
                <td class="stats-chart">
                  <canvas id="mvaluechart2"></canvas>
                </td>
              </tr>
              <tr>
                <td class="mv-icon">
                  <div class="mv-icon"><img src="assets/images/icon/market-value/icon3.png" alt="icon"></div>
                </td>
                <td class="coin-name">Euthorium</td>
                <td class="buy">30% <img src="assets/images/icon/market-value/triangle-down.png" alt="icon"></td>
                <td class="sell">20% <img src="assets/images/icon/market-value/triangle-up.png" alt="icon"></td>
                <td class="trends"><img src="assets/images/icon/market-value/trends-up-icon.png" alt="icon"></td>
                <td class="attachments">$ 56746,857</td>
                <td class="stats-chart">
                  <canvas id="mvaluechart3"></canvas>
                </td>
              </tr>
              <tr>
                <td class="mv-icon">
                  <div class="mv-icon"><img src="assets/images/icon/market-value/icon4.png" alt="icon"></div>
                </td>
                <td class="coin-name">Bitcoindash</td>
                <td class="buy">30% <img src="assets/images/icon/market-value/triangle-down.png" alt="icon"></td>
                <td class="sell">20% <img src="assets/images/icon/market-value/triangle-up.png" alt="icon"></td>
                <td class="trends"><img src="assets/images/icon/market-value/trends-up-icon.png" alt="icon"></td>
                <td class="attachments">$ 56746,857</td>
                <td class="stats-chart">
                  <canvas id="mvaluechart4"></canvas>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>



