/* users.component.css */
.deactivate-button {
    padding: 8px 16px;
    background-color: #dc3545; /* Red color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .deactivate-button:hover {
    background-color: #c82333; /* Darker red color on hover */
  }
  .inactive {
    opacity: 0.5; /* Reduce opacity for inactive buttons */
    cursor: not-allowed; /* Change cursor to indicate button is disabled */
  }
  /* users.component.css */
.activate-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .activate-button:hover {
    background-color: #45a049;
  }
  
  .activate-button.inactive {
    opacity: 0.5; /* Less visible when inactive */
  }
  
  .activate-button.activated {
    background-color: #808080; /* Gray for activated users */
    cursor: default; /* Disable hover effect for activated users */
  }
  .mat-sort-header-container {
    align-items: center;
  }