<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header" routerLinkActive="active">
          <a routerLink="/Admin/AddUser">
            <h4>
              <i class="ti-user"></i>
              Add a new user
            </h4>
          </a>
        </div>
        <div>
          <table class="dbkit-table">
            <tr class="heading-td">
              <td class="coin-name">Full Name</td>
              <td class="buy">Email</td>
              <td class="sell">Role</td>
              <td class="attachments">Company</td> <!-- Add Company column -->
              <!-- Add more columns if needed -->
            </tr>
            <tr *ngFor="let user of users">
              <td class="coin-name">{{ user.fullName }}</td>
              <td class="buy">{{ user.login }}</td>
              <td class="sell">{{ user.role }}</td>
              <td class="attachments">{{ user.companyName }}</td> <!-- Display Company name -->
              <!-- Add more columns if needed -->
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
